* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
}
body,
ul,
li {
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
