.teams {
    &__heading {
        @extend .services__heading;
        &-title {
            @extend .services__heading-title;
        }
    }
    &__item {
        text-align: center;
        margin-bottom: 30px;
    }
    &__avt {
        position: relative;
        border: 1px solid #ccc;
        &:before {
            position: absolute;
            content: "";
            border: 1px solid #ccc;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            left: -10px;
            top: -10px;
        }
    }
    &__content {
        margin-top: 20px;
        padding: 0 8px;
        &-title {
            font-size: 1.7rem;
            color: $textBold;
            font-weight: 600;
        }
        &-position {
            display: block;
            font-size: 1.4rem;
            color: $textColor;
            margin-bottom: 10px;
        }
        &-desc {
            margin-top: 20px;
            font-size: 1.2rem;
            color: $textColor;
        }
    }
    &__end {
        text-align: center;
        &-line {
            margin-top: 20px;
            position: relative;
            display: inline-block;
            width: 40px;
            height: 6px;
            background-color: #ccc;
            &:before {
                position: absolute;
                content: "";
                width: 40px;
                height: 3px;
                background-color: #000;
                bottom: 0;
                left: -44px;
            }
            &:after {
                position: absolute;
                content: "";
                width: 40px;
                height: 3px;
                background-color: #000;
                bottom: 0;
                right: -44px;
            }
        }
    }
}
