$white: #fff;
$textColor: #5d5d5d;
$primary: #e4555b;
$primary2: #e9585f;
$bgBlack: #111111;
$bgHover: #ccc;
$textBold: #1f1a1a;
$textServices: #ea5261;
$bgContacts: #171717;
$widthInput: 350px;
